body{
    background-color: grey;
}
#gArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "information pic";
}

h3{
    margin: 0%;
    padding: 0%;
}
header{
    text-align: center;
  }
  footer{
    text-align: center;
  }
button{
    background-color: white;
        font: bold 11px Arial;
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 5px 10px 10px 6px;
        border-top: px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;

}
